* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: auto;
  display: block;
}

.opgave_tema4 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 80px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 100px;
  gap: 20px;
  font-size: 1.2rem;
  font-family: "Times New Roman", Times, serif;
  color: white;
}
.tekst_h2_tema4 {
  text-align: center;
  color: white;
  text-shadow: 0 5px 10px rgb(73, 75, 90);
  font-size: 2rem;
  padding-top: 80px;
}
.tekst_tema4 {
  text-align: center;
  color: white;
  text-shadow: 0 5px 10px rgb(73, 75, 90);
  font-size: 2rem;
  padding-top: 80px;
}
.galleri_tema4 {
  gap: 20px;
  padding-top: 100px;
}
.billeder_tema4 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 50px;
}
.galleri_tema4 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 80px;
}
.tekst_galleri {
  font-family: "Times New Roman", Times, serif;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 50px;
  padding-left: 20px;
  color: white;
  font-size: 1.2rem;
}
.opgave_beskrivelse_4 {
  font-family: "Times New Roman", Times, serif;
  padding: 80px;
  font-size: 1.2rem;
  padding-top: 50px;
  line-height: 40px;
  color: white;
  font-weight: bold;
}

@media (max-width: 650px) {
  .opgave_tema4 {
    width: 100%;
    grid-template-columns: 1fr;
    padding-top: 50px;
    font-size: 1rem;
  }
  .tekst_h2_tema4 {
    font-size: 1.5rem;
  }
  .tekst_tema4 {
    font-size: 1.5rem;
  }
  .opgave_beskrivelse_4 {
    padding: 10px;
    padding-top: 40px;
  }
}
