* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: auto;
  display: block;
}

.tekst_h1_galleri {
  text-align: center;
  color: white;
  text-shadow: 0 5px 10px rgb(73, 75, 90);
  font-size: 1.5rem;
  padding-top: 20px;
  background-color: rgb(244, 198, 233);
  margin: 80px 0;
  padding-bottom: 20px;
  border: solid;
  border-color: white;
  border-width: 5px;
}
.opgaver_tema3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 20px;
  padding-left: 80px;
  padding-right: 20px;
  padding-bottom: 100px;

  gap: 20px;
}
.tekst_h2_tema3 {
  text-align: center;
  color: white;
  text-shadow: 0 5px 10px rgb(73, 75, 90);
  font-size: 2rem;
  padding-top: 80px;
}

.tekst_tema3 {
  text-align: center;
  color: white;
  font-size: 1.5rem;
  padding-top: 20px;
  margin: 80px 0;
  padding-bottom: 20px;
  font-family: "Times New Roman", Times, serif;
  text-decoration: none;
}
.galleri_tema3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  border: solid;
  border-color: white;
  border-width: 5px;
  width: 100%;
  justify-content: center;
}
.opgave_3_tema3 {
  width: 80%;
  padding-top: 100px;
}
.tekst_tema3_knap {
  background-color: white;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  text-align: center;
  border: solid;
  border-color: rgb(168, 149, 149);
  border-width: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.p_tema3 {
  font-family: "Times New Roman", Times, serif;
  color: white;
  text-decoration: none;
  font-weight: bold;
  text-shadow: rgb(206, 198, 198);
  letter-spacing: 2px;
  line-height: 20px;
}
.dokumentation {
  padding-top: 100px;
  padding-right: 60px;
  gap: 100px;
}

@media (max-width: 650px) {
  .opgaver_tema3 {
    width: 100%;
    grid-template-columns: 1fr;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0px;
  }
  .opgave_3_tema3 {
    width: 100%;
  }
  .tekst_tema3 {
    padding-top: 120px;
    margin: 0px;
  }
  .galleri_tema3 {
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
  }

  .tekst_h2_tema3 {
    font-size: 1.5rem;
  }
  .dokumentation {
    width: 100%;
    padding-left: 60px;
  }
}
