* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: auto;
  display: block;
}
@media (min-width: 700px) {
  .grid_3col_1-1-1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 50px;
  }
  .column {
    display: flex;
    flex-direction: column;
  }
  .column :last-child {
    margin-top: auto;
    padding-top: 20px;
  }
}
